/.history
/node_modules
.DS_Store

# local build display
cache
dist

# generated content
docs/public/rss.xml
docs/recent-posts.json
docs/public/skills-cloud.json
docs/at-pages.json
docs/public/at-pages.json

# push script
format.sh
update.sh
.makefile

# The Serial Novel
docs/stories/NEW

NEW
txt_pages
test
dep.sh
.cursor
AGENTS.md
AGENTS.md
