/**
* used in globally click
* firework.css
*/

.firework-particle {
    position: absolute !important;
    pointer-events: none !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    will-change: transform, opacity !important;
    z-index: 2147483647 !important; /* 增加更高的z-index */
}
